Repository apache/hudi-rs, pull requests merged in 2024-09, with the labels that each got.

#132 docs: update in-code comments
  python/Makefile
Labels: documentation

#117 refactor: extract common test code for creating table
  crates/core/src/table/mod.rs
Labels: refactor, rust

#138 chore(ci): fix PR title linting to support change scope
  .github/workflows/pr.yml
Labels: dev-x

#140 feat: add base file records' in-memory size to `FileStats`
  crates/core/src/file_group/mod.rs
  crates/core/src/storage/file_stats.rs
  python/hudi/_internal.pyi
  python/src/internal.rs
  python/tests/test_table_read.py
Labels: feature, python, rust

#113 docs: add hudi core API docs with examples
  crates/core/src/config/internal.rs
  crates/core/src/config/mod.rs
  crates/core/src/config/read.rs
  crates/core/src/config/table.rs
  crates/core/src/file_group/mod.rs
  crates/core/src/lib.rs
  crates/core/src/storage/mod.rs
  crates/core/src/table/mod.rs
Labels: documentation, rust, test

#142 fix: handle validating table when `DropsPartitionFields` not present
  crates/core/src/table/mod.rs
Labels: bug

#149 build(deps): upgrade datafusion from 0.41 to 0.42
  .github/workflows/ci.yml
  Cargo.toml
  crates/datafusion/src/lib.rs
  python/Cargo.toml
  python/pyproject.toml
Labels: p1, dependencies
