Repository apache/hudi-rs, pull requests merged in 2024-11, with the labels that each got.

#185 fix: improve api to get file slices splits
  crates/core/src/table/mod.rs
  crates/datafusion/src/lib.rs
  python/hudi/__init__.py
  python/hudi/_internal.pyi
  python/src/internal.rs
  python/tests/test_table_read.py
Labels: bug

#187 fix: handle schema retrieval for datafusion api
  crates/datafusion/src/lib.rs
Labels: bug

#182 build(deps): upgrade datafusion and object store
  Cargo.toml
Labels: dependencies

#192 build(deps): upgrade datafusion to 42.2.0
  Cargo.toml
Labels: dependencies

#195 docs: update release and dev guides
  CONTRIBUTING.md
  README.md
  cliff.toml
  release/README.md
Labels: documentation

#200 chore: update release script and guide
  release/README.md
  release/publish_src_release.sh
Labels: documentation, dev-x

#201 chore: update changelog for 0.2.0
  CHANGELOG.md
Labels: documentation

#197 build(deps): upgrade Datafusion, Arrow, and Rust versions
  Cargo.toml
  crates/datafusion/src/lib.rs
  rust-toolchain.toml
Labels: rust, dependencies

#202 docs: add example to `hudi-datafusion` crate
  crates/datafusion/src/lib.rs
Labels: documentation
