Repository apache/hudi-rs, pull requests merged in 2024-07, with the labels that each got.

#33 feat: add APIs for time-travel read
  crates/core/src/file_group/mod.rs
  crates/core/src/storage/mod.rs
  crates/core/src/table/fs_view.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/timeline.rs
  crates/datafusion/src/lib.rs
  crates/tests/src/lib.rs
  python/hudi/_internal.pyi
  python/hudi/table.py
  python/src/lib.rs
  python/tests/test_table_read.py
Labels: feature

#35 feat: implement datafusion API using ParquetExec
  Cargo.toml
  crates/core/src/config/mod.rs
  crates/core/src/lib.rs
  crates/core/src/storage/mod.rs
  crates/core/src/storage/utils.rs
  crates/core/src/table/mod.rs
  crates/datafusion/Cargo.toml
  crates/datafusion/src/lib.rs
  python/Cargo.toml
  python/hudi/_internal.pyi
  python/hudi/_utils.py
  python/hudi/table.py
  python/src/lib.rs
  python/tests/test_table_read.py
Labels: feature

#37 feat: add `HudiConfigs` for parsing and managing named configs
  crates/core/Cargo.toml
  crates/core/src/config/mod.rs
  crates/core/src/config/read.rs
  crates/core/src/config/table.rs
  crates/core/src/table/config.rs
  crates/core/src/table/fs_view.rs
  crates/core/src/table/metadata.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/timeline.rs
  crates/core/tests/data/table_props_invalid/.hoodie/hoodie.properties
  crates/core/tests/data/table_props_valid/.hoodie/hoodie.properties
  crates/datafusion/src/lib.rs
  crates/tests/src/utils.rs
Labels: feature

#49 feat: add config validation when creating table
  crates/core/Cargo.toml
  crates/core/src/config/read.rs
  crates/core/src/config/table.rs
  crates/core/src/storage/mod.rs
  crates/core/src/table/fs_view.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/timeline.rs
Labels: feature

#50 chore: configure codecov target and threshold
  codecov.yml
Labels: dev-x

#51 feat: add internal config to skip validation
  crates/core/src/config/internal.rs
  crates/core/src/config/mod.rs
  crates/core/src/table/mod.rs
Labels: feature

#52 feat: support time travel with read option
  crates/core/src/config/mod.rs
  crates/core/src/config/read.rs
  crates/core/src/table/mod.rs
  crates/datafusion/src/lib.rs
  python/src/lib.rs
  python/tests/test_table_read.py
Labels: feature

#55 feat: support taking env vars for cloud storages
  crates/core/src/table/mod.rs
Labels: feature

#85 chore: fix labeler config
  .github/labeler.yml
Labels: dev-x

#87 chore: try labeler
  .github/labeler.yml
Labels: dev-x

#67 ci: merge python code coverage report with rust
  .github/workflows/ci.yml
  python/pyproject.toml
Labels: python, ci

#89 chore: add pull request template
  .github/PULL_REQUEST_TEMPLATE.md
  .licenserc.yaml
Labels: dev-x

#94 chore: enable dependabot
  .asf.yaml
  .github/dependabot.yml
Labels: dev-x

#93 ci: add path ignore files for ci
  .github/workflows/ci.yml
  .github/workflows/compliance.yml
Labels: ci
