Repository apache/hudi-rs, pull requests merged in 2024-10, with the labels that each got.

#119 feat: support partition prune api
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/config/table.rs
  crates/core/src/file_group/mod.rs
  crates/core/src/table/fs_view.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/partition.rs
  crates/datafusion/src/lib.rs
  python/src/internal.rs
Labels: feature, rust

#152 fix: make partition loading more efficient
  crates/core/src/table/fs_view.rs
  crates/core/src/table/mod.rs
Labels: bug, rust

#161 refactor: improve APIs for handling options
  crates/core/src/config/mod.rs
  crates/core/src/config/table.rs
  crates/core/src/config/utils.rs
  crates/core/src/file_group/mod.rs
  crates/core/src/storage/mod.rs
  crates/core/src/storage/utils.rs
  crates/core/src/table/fs_view.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/partition.rs
  crates/core/src/table/timeline.rs
  crates/datafusion/src/lib.rs
  python/hudi/_internal.pyi
  python/src/internal.rs
Labels: refactor, python, rust

#164 feat: add `HudiFileGroupReader` with consolidated APIs to read records
  crates/core/src/config/mod.rs
  crates/core/src/config/utils.rs
  crates/core/src/file_group/mod.rs
  crates/core/src/file_group/reader.rs
  crates/core/src/storage/mod.rs
  crates/core/src/table/fs_view.rs
  crates/core/src/table/mod.rs
  python/hudi/__init__.py
  python/hudi/_internal.pyi
  python/src/internal.rs
  python/src/lib.rs
  python/tests/test_table_read.py
Labels: feature, python, rust

#166 docs: add more in-code docs to hudi-core APIs
  crates/core/src/config/internal.rs
  crates/core/src/config/mod.rs
  crates/core/src/config/read.rs
  crates/core/src/config/table.rs
  crates/core/src/config/utils.rs
  crates/core/src/file_group/mod.rs
  crates/core/src/file_group/reader.rs
  crates/core/src/lib.rs
  crates/core/src/storage/file_info.rs
  crates/core/src/storage/file_stats.rs
  crates/core/src/storage/utils.rs
  crates/core/src/table/fs_view.rs
  crates/core/src/table/partition.rs
  crates/core/src/table/timeline.rs
Labels: documentation, rust

#168 build(deps): upgrade arrow dependencies
  Cargo.toml
Labels: rust, dependencies

#167 chore: add feature request template for GH issues
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: dev-x

#169 docs: add python binding docstrings
  python/hudi/_internal.pyi
Labels: documentation

#162 feat: implement datafusion TableProviderFactory
  crates/datafusion/src/lib.rs
Labels: feature, rust, p1

#173 refactor: minor improvement to fix coverage report status
  crates/datafusion/src/lib.rs
Labels: refactor, rust

#66 docs: add step-by-step release guide
  release/README.md
  release/bump_version_in_main.sh
Labels: documentation, dev-x

#174 build(release): bump version to 0.3.0
  Cargo.toml
  crates/datafusion/Cargo.toml
  crates/hudi/Cargo.toml
  release/bump_version_in_main.sh
Labels: dependencies

#170 fix: simplify partition filter format by taking tuple of strings
  crates/core/src/lib.rs
  crates/core/src/table/fs_view.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/partition.rs
  crates/core/src/util/mod.rs
  python/hudi/_internal.pyi
  python/src/internal.rs
  python/tests/test_table_read.py
Labels: bug, p0
