Repository apache/hudi-rs, pull requests merged in 2024-08, with the labels that each got.

#101 style: enforce Python code style
  .github/workflows/compliance.yml
  python/Makefile
  python/hudi/__init__.py
  python/hudi/_internal.pyi
  python/pyproject.toml
  python/tests/test_table_read.py
Labels: python

#107 fix: register object store with datafusion
  crates/core/Cargo.toml
  crates/core/src/storage/mod.rs
  crates/core/src/table/fs_view.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/timeline.rs
  crates/datafusion/Cargo.toml
  crates/datafusion/src/lib.rs
Labels: bug, rust, p0

#120 build: bump up DataFusion to version 41, Arrow to 52.2
  Cargo.toml
  crates/core/src/table/mod.rs
  crates/datafusion/src/lib.rs
  rust-toolchain.toml
Labels: rust, dependencies
