Repository apache/hudi-rs, pull requests merged in 2024-12, with the labels that each got.

#204 chore: update pull request guidelines for contributors
  CONTRIBUTING.md
Labels: dev-x

#212 build(deps): update pyo3 requirement from 0.22.2 to 0.22.4
  python/Cargo.toml
Labels: dependencies

#217 chore: add more dev commands and update the project's short description
  .asf.yaml
  CONTRIBUTING.md
  README.md
  python/Makefile
Labels: dev-x

#213 docs: add `CREATE EXTERNAL TABLE` example in datafusion crate
  crates/datafusion/src/lib.rs
Labels: documentation

#220 refactor: add API stubs for performing incremental queries
  crates/core/src/table/builder.rs
  crates/core/src/table/mod.rs
Labels: refactor, rust

#221 refactor: enhance `Filter` and related structs
  crates/core/src/error.rs
  crates/core/src/expr/filter.rs
  crates/core/src/table/partition.rs
  crates/datafusion/src/lib.rs
  crates/datafusion/src/util/expr.rs
Labels: refactor, rust

#222 chore: update codecov threshold
  CONTRIBUTING.md
  codecov.yml
Labels: dev-x

#224 docs: clarify issues in the dev guide
  CONTRIBUTING.md
Labels: documentation, dev-x
