Repository apache/hudi-rs, pull requests merged in 2025-02, with the labels that each got.

#283 refactor: move `Makefile` to root directory
  .github/workflows/ci.yml
  .github/workflows/code.yml
  CONTRIBUTING.md
  Makefile
  demo/run_demo.sh
  python/tests/conftest.py
Labels: refactor, dev-x

#294 chore: update dependabot settings and readme links
  .github/dependabot.yml
  README.md
Labels: dev-x

#297 build(deps): upgrade arrow, pyo3, datafusion, rustc
  Cargo.toml
  crates/core/src/config/table.rs
  crates/core/src/table/mod.rs
  crates/datafusion/src/lib.rs
  demo/infra/runner/Dockerfile
  demo/sql-datafusion/Cargo.toml
  demo/table-api-rust/Cargo.toml
  python/Cargo.toml
  rust-toolchain.toml
Labels: dependencies
