Repository apache/hudi-rs, pull requests merged in 2025-01, with the labels that each got.

#233 feat: add `TimelineSelector` to support timeline loading
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/config/table.rs
  crates/core/src/lib.rs
  crates/core/src/storage/util.rs
  crates/core/src/table/builder.rs
  crates/core/src/table/mod.rs
  crates/core/src/timeline/instant.rs
  crates/core/src/timeline/mod.rs
  crates/core/src/timeline/selector.rs
Labels: feature, rust

#234 refactor: improve `TimelineSelector` API
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/config/table.rs
  crates/core/src/table/builder.rs
  crates/core/src/table/mod.rs
  crates/core/src/timeline/instant.rs
  crates/core/src/timeline/mod.rs
  crates/core/src/timeline/selector.rs
  crates/core/tests/data/table_props_valid/.hoodie/hoodie.properties
Labels: refactor, rust

#235 feat: add `hoodie.read.listing.parallelism` config
  crates/core/src/config/read.rs
  crates/core/src/table/fs_view.rs
Labels: feature, rust

#237 feat: support row filters for `FileGroupReader`
  crates/core/src/error.rs
  crates/core/src/expr/filter.rs
  crates/core/src/file_group/reader.rs
  crates/core/src/table/partition.rs
Labels: feature

#236 feat: implement incremental query for COW tables
  Cargo.toml
  crates/core/src/error.rs
  crates/core/src/file_group/builder.rs
  crates/core/src/file_group/mod.rs
  crates/core/src/storage/mod.rs
  crates/core/src/table/mod.rs
  crates/core/src/timeline/mod.rs
  crates/core/src/timeline/selector.rs
  python/hudi/_internal.pyi
  python/src/internal.rs
  python/tests/test_table_incremental_read.py
Labels: feature, python, rust

#239 refactor: improve `BaseFile` APIs
  crates/core/src/file_group/base_file.rs
  crates/core/src/file_group/mod.rs
  crates/core/src/file_group/reader.rs
  crates/core/src/storage/file_info.rs
  crates/core/src/storage/file_metadata.rs
  crates/core/src/storage/mod.rs
  crates/core/src/table/fs_view.rs
  crates/core/src/table/mod.rs
  crates/datafusion/src/lib.rs
  python/hudi/_internal.pyi
  python/src/internal.rs
  python/tests/test_table_read.py
Labels: refactor, python, rust

#240 build(deps): clean up dependencies
  Cargo.toml
  crates/core/Cargo.toml
  crates/datafusion/Cargo.toml
  crates/tests/Cargo.toml
  python/Cargo.toml
Labels: dependencies

#245 chore: update codecov config
  CONTRIBUTING.md
  codecov.yml
Labels: dev-x

#244 feat: implement log file reader for parquet log block
  crates/core/src/error.rs
  crates/core/src/file_group/base_file.rs
  crates/core/src/file_group/builder.rs
  crates/core/src/file_group/log_file/log_block.rs
  crates/core/src/file_group/log_file/log_format.rs
  crates/core/src/file_group/log_file/mod.rs
  crates/core/src/file_group/log_file/reader.rs
  crates/core/src/file_group/mod.rs
  crates/core/src/storage/error.rs
  crates/core/src/storage/mod.rs
  crates/core/src/storage/reader.rs
  crates/core/src/table/fs_view.rs
  crates/core/tests/data/log_files/valid_log_parquet/.ee2ace10-7667-40f5-9848-0a144b5ea064-0_20250113230302428.log.1_0-188-387
  python/hudi/_internal.pyi
  python/src/internal.rs
Labels: feature

#249 feat: implement basic record merge semantics
  crates/core/src/config/table.rs
  crates/core/src/error.rs
  crates/core/src/lib.rs
  crates/core/src/merge/mod.rs
  crates/core/src/merge/record_merger.rs
Labels: feature, rust

#250 fix: include commit_seqno for merge order
  crates/core/src/error.rs
  crates/core/src/lib.rs
  crates/core/src/merge/record_merger.rs
  crates/core/src/metadata/meta_field.rs
  crates/core/src/metadata/mod.rs
  crates/core/src/util/arrow.rs
  crates/core/src/util/mod.rs
Labels: bug

#247 feat: add APIs for MOR snapshot reads
  crates/core/src/config/table.rs
  crates/core/src/file_group/base_file.rs
  crates/core/src/file_group/file_slice.rs
  crates/core/src/file_group/log_file/log_block.rs
  crates/core/src/file_group/log_file/mod.rs
  crates/core/src/file_group/log_file/reader.rs
  crates/core/src/file_group/mod.rs
  crates/core/src/file_group/reader.rs
  crates/core/src/storage/mod.rs
  crates/core/src/table/builder.rs
  crates/core/src/table/fs_view.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/partition.rs
  crates/core/src/timeline/instant.rs
  crates/core/src/timeline/mod.rs
  crates/core/src/timeline/selector.rs
  crates/datafusion/src/lib.rs
  crates/tests/data/tables/cow/v6_complexkeygen_hivestyle.sql
  crates/tests/data/tables/cow/v6_complexkeygen_hivestyle.zip
  crates/tests/data/tables/cow/v6_empty.sql
  crates/tests/data/tables/cow/v6_empty.zip
  crates/tests/data/tables/cow/v6_nonpartitioned.sql
  crates/tests/data/tables/cow/v6_nonpartitioned.zip
  crates/tests/data/tables/cow/v6_simplekeygen_hivestyle_no_metafields.sql
  crates/tests/data/tables/cow/v6_simplekeygen_hivestyle_no_metafields.zip
  crates/tests/data/tables/cow/v6_simplekeygen_nonhivestyle.sql
  crates/tests/data/tables/cow/v6_simplekeygen_nonhivestyle.zip
  crates/tests/data/tables/cow/v6_simplekeygen_nonhivestyle_overwritetable.sql
  crates/tests/data/tables/cow/v6_simplekeygen_nonhivestyle_overwritetable.zip
  crates/tests/data/tables/cow/v6_timebasedkeygen_nonhivestyle.sql
  crates/tests/data/tables/cow/v6_timebasedkeygen_nonhivestyle.zip
  crates/tests/data/tables/mor/v6_complexkeygen_hivestyle.sql
  crates/tests/data/tables/mor/v6_complexkeygen_hivestyle.zip
  crates/tests/data/tables/mor/v6_empty.sql
  crates/tests/data/tables/mor/v6_empty.zip
  crates/tests/data/tables/mor/v6_nonpartitioned.sql
  crates/tests/data/tables/mor/v6_nonpartitioned.zip
  crates/tests/src/lib.rs
  demo/app/python/src/main.py
  demo/app/rust/src/main.rs
  demo/infra/mc/prepare_data.sh
  python/src/internal.rs
Labels: feature

#251 refactor: improve file system view's listing flow
  crates/core/src/file_group/builder.rs
  crates/core/src/file_group/file_slice.rs
  crates/core/src/file_group/mod.rs
  crates/core/src/metadata/mod.rs
  crates/core/src/table/fs_view.rs
  crates/core/src/table/listing.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/partition.rs
  python/src/internal.rs
Labels: refactor

#252 refactor: use static MetaField schema for incr query
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/metadata/meta_field.rs
  crates/core/src/table/mod.rs
Labels: refactor

#256 feat: support time travel query for MOR tables
  crates/core/src/file_group/log_file/log_block.rs
  crates/core/src/file_group/log_file/reader.rs
  crates/core/src/file_group/reader.rs
  crates/core/src/table/mod.rs
  crates/core/src/timeline/mod.rs
  crates/core/src/timeline/selector.rs
  crates/tests/data/tables/mor/v6_simplekeygen_nonhivestyle.sql
  crates/tests/data/tables/mor/v6_simplekeygen_nonhivestyle.zip
  crates/tests/src/lib.rs
Labels: feature, rust

#258 feat: support incremental read MOR tables
  crates/core/src/file_group/builder.rs
  crates/core/src/table/mod.rs
  crates/core/src/timeline/selector.rs
  crates/tests/data/tables/mor/v6_simplekeygen_nonhivestyle_overwritetable.sql
  crates/tests/data/tables/mor/v6_simplekeygen_nonhivestyle_overwritetable.zip
Labels: feature, rust

#259 feat: support MOR read-optimized query
  crates/core/src/config/read.rs
  crates/core/src/table/mod.rs
  crates/datafusion/src/lib.rs
Labels: feature

#254 fix: format Hudi config enum should show the full config key
  crates/core/src/config/internal.rs
  crates/core/src/config/read.rs
  crates/core/src/config/table.rs
Labels: bug

#260 fix: derive record merge strategy based on table configs
  crates/core/src/config/table.rs
  crates/core/src/merge/mod.rs
  crates/core/src/merge/record_merger.rs
  crates/core/src/table/builder.rs
  crates/core/src/table/mod.rs
  crates/tests/data/tables/mor/v6_complexkeygen_hivestyle.sql
  crates/tests/data/tables/mor/v6_simplekeygen_hivestyle_no_metafields.sql
  crates/tests/data/tables/mor/v6_simplekeygen_hivestyle_no_metafields.zip
  crates/tests/data/tables/mor/v6_simplekeygen_nonhivestyle.sql
  crates/tests/data/tables/mor/v6_simplekeygen_nonhivestyle_overwritetable.sql
Labels: bug

#262 refactor: rename crate `hudi-tests` to `hudi-test`
  crates/core/Cargo.toml
  crates/core/src/config/read.rs
  crates/core/src/file_group/base_file.rs
  crates/core/src/table/fs_view.rs
  crates/core/src/table/listing.rs
  crates/core/src/table/mod.rs
  crates/core/src/table/partition.rs
  crates/core/src/timeline/mod.rs
  crates/core/src/timeline/selector.rs
  crates/datafusion/Cargo.toml
  crates/datafusion/src/lib.rs
  crates/test/Cargo.toml
  crates/test/data/tables/cow/v6_complexkeygen_hivestyle.sql
  crates/test/data/tables/cow/v6_complexkeygen_hivestyle.zip
  crates/test/data/tables/cow/v6_empty.sql
  crates/test/data/tables/cow/v6_empty.zip
  crates/test/data/tables/cow/v6_nonpartitioned.sql
  crates/test/data/tables/cow/v6_nonpartitioned.zip
  crates/test/data/tables/cow/v6_simplekeygen_hivestyle_no_metafields.sql
  crates/test/data/tables/cow/v6_simplekeygen_hivestyle_no_metafields.zip
  crates/test/data/tables/cow/v6_simplekeygen_nonhivestyle.sql
  crates/test/data/tables/cow/v6_simplekeygen_nonhivestyle.zip
  crates/test/data/tables/cow/v6_simplekeygen_nonhivestyle_overwritetable.sql
  crates/test/data/tables/cow/v6_simplekeygen_nonhivestyle_overwritetable.zip
  crates/test/data/tables/cow/v6_timebasedkeygen_nonhivestyle.sql
  crates/test/data/tables/cow/v6_timebasedkeygen_nonhivestyle.zip
  crates/test/data/tables/mor/v6_complexkeygen_hivestyle.sql
  crates/test/data/tables/mor/v6_complexkeygen_hivestyle.zip
  crates/test/data/tables/mor/v6_empty.sql
  crates/test/data/tables/mor/v6_empty.zip
  crates/test/data/tables/mor/v6_nonpartitioned.sql
  crates/test/data/tables/mor/v6_nonpartitioned.zip
  crates/test/data/tables/mor/v6_simplekeygen_hivestyle_no_metafields.sql
  crates/test/data/tables/mor/v6_simplekeygen_hivestyle_no_metafields.zip
  crates/test/data/tables/mor/v6_simplekeygen_nonhivestyle.sql
  crates/test/data/tables/mor/v6_simplekeygen_nonhivestyle.zip
  crates/test/data/tables/mor/v6_simplekeygen_nonhivestyle_overwritetable.sql
  crates/test/data/tables/mor/v6_simplekeygen_nonhivestyle_overwritetable.zip
  crates/test/src/lib.rs
  crates/test/src/util.rs
  demo/compose.yaml
Labels: refactor, rust

#264 feat: support reading MOR with rollback
  crates/core/src/file_group/log_file/log_block.rs
  crates/core/src/file_group/log_file/mod.rs
  crates/core/src/file_group/log_file/reader.rs
  crates/core/src/file_group/log_file/scanner.rs
  crates/core/src/file_group/reader.rs
  crates/core/src/table/mod.rs
  crates/core/tests/data/log_files/valid_log_rollback/.0712b9f9-d2d5-4cae-bcf4-8fd7146af503-0_20250126040823628.log.2_1-0-1
  crates/test/data/tables/mor/v6_nonpartitioned_rollback.sql
  crates/test/data/tables/mor/v6_nonpartitioned_rollback.zip
  crates/test/src/lib.rs
Labels: feature

#266 refactor: remove use of `Filter` from public APIs
  crates/core/src/expr/filter.rs
  crates/core/src/file_group/reader.rs
  crates/core/src/table/mod.rs
  crates/core/src/util/mod.rs
  crates/datafusion/src/lib.rs
  crates/datafusion/src/util/expr.rs
  python/src/internal.rs
Labels: refactor, python, rust

#265 chore(ci): add rust dependency caching with rust-cache action
  .github/workflows/ci.yml
Labels: ci

#267 feat: align python table APIs with rust
  .github/workflows/ci.yml
  crates/core/src/file_group/reader.rs
  crates/core/src/table/mod.rs
  demo/.gitignore
  demo/compose.yaml
  demo/run_demo.sh
  demo/sql-datafusion/Cargo.toml
  demo/sql-datafusion/run.sh
  demo/sql-datafusion/src/main.rs
  demo/table-api-python/run.sh
  demo/table-api-python/src/__init__.py
  demo/table-api-python/src/main.py
  demo/table-api-rust/Cargo.toml
  demo/table-api-rust/run.sh
  demo/table-api-rust/src/main.rs
  python/hudi/_internal.pyi
  python/src/internal.rs
  python/tests/test_table_read.py
Labels: feature, python, rust

#268 fix: handle as-of timestamp for excluding file groups
  crates/core/src/table/fs_view.rs
  crates/core/src/table/mod.rs
  crates/core/src/timeline/mod.rs
  crates/core/src/timeline/selector.rs
Labels: bug

#269 docs: add in-code docs for `FileGroup`
  crates/core/src/config/mod.rs
  crates/core/src/file_group/mod.rs
Labels: documentation

#272 feat: add APIs to support incremental query impl
  crates/core/src/config/read.rs
  crates/core/src/file_group/file_slice.rs
  crates/core/src/file_group/reader.rs
  crates/core/src/table/mod.rs
  crates/core/src/timeline/mod.rs
  crates/datafusion/src/lib.rs
  python/hudi/_internal.pyi
  python/src/internal.rs
  python/tests/test_table_builder.py
  python/tests/test_table_read.py
Labels: feature, python, rust

#273 fix: build up incremental file groups
  crates/core/src/file_group/base_file.rs
  crates/core/src/file_group/builder.rs
  crates/core/src/file_group/file_slice.rs
  crates/core/src/file_group/log_file/mod.rs
  crates/core/src/file_group/mod.rs
  crates/core/src/table/mod.rs
  crates/core/src/timeline/mod.rs
Labels: bug

#274 docs: update `README.md` to show table API examples
  README.md
  crates/core/src/table/mod.rs
  demo/README.md
Labels: documentation

#276 build(dep): upgrade rustc, arrow, and tarpaulin setting
  .github/workflows/ci.yml
  .github/workflows/code.yml
  Cargo.toml
  crates/core/src/table/mod.rs
  demo/infra/runner/Dockerfile
  demo/table-api-rust/Cargo.toml
  python/Cargo.toml
  python/src/internal.rs
  python/src/lib.rs
  rust-toolchain.toml
Labels: dependencies

#282 chore: update release guide and issue templates
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/1-bug.yml
  .github/ISSUE_TEMPLATE/2-feature-request.yml
  Cargo.toml
  release/README.md
Labels: dev-x
